.listNamePopUp {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 10;
  width: 300px;
  text-align: center;
  display: none;
}

.listNamePopUp label {
  display: block;
  margin-bottom: 0.5rem;
}

.listNamePopUp input {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.listNamePopUp.show {
  display: block;
}
.error-msg {
  color: red;
  margin-top: 0.5rem;
  font-size: 0.9rem;
}