.lists ul {
  display: flex;
  flex-direction: column;
  gap: 12px; /* space between buttons */
}

.listsbutton {
  width: 100%;
}

.listsbutton button {
  width: 100%;
  padding: 12px 0;
}

button {
  border: none;
  background-color: #2c2c2c;
  font-size: x-large;
  border-radius: 8px;
  color: white;
}
li {
  list-style: none;
}

