/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/dist/css/bootstrap.min.css';
body{
    background: #121212;
}
/* Remove browser default style */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: #444;     
  border: 2px solid #666;      
  width: 20px;
  height: 20px;
  border-radius: 4px;          
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* White checkmark when checked */
input[type="checkbox"]:checked {
  background-color: #fff;      
  border-color: #fff;
}

/* The checkmark itself */
input[type="checkbox"]:checked::after {
  content: "✔";
  font-size: 14px;
  color: #000;                 
  font-weight: bold;
  line-height: 1;
}

